github "handsomecode/InteractiveSideMenu"
github "Vaberer/Font-Awesome-Swift"
github "Yalantis/Segmentio"
github "rs/SDWebImage"
github "EngrAhsanAli/AACoreData"
github "Krimpedance/KRProgressHUD"
github "evgenyneu/Cosmos"